.logohtml{
    width: 20%;    
}

.header{
    background-color: slateblue;
    width: 100%;
}

.link{
    color: white;
}

.html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
