.logohtml{
    width: 15%;    
}

.header{
    background-color: slateblue;
    width: 100%;
}

.link{
    color: white;
    text-decoration: none;
    font-size: 10px;
}

.html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
